
.p1{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
    
}
.p2{
    display: flex;

}
.p4{
    display: flex;

}
p{
    font-size: 17px;
    margin: 10px 0 0 0;
}
#meeting-time{
    width: 200px;
    height: 25px;
    margin: 9px 40px 0px 22px;

}
.tk{
    width: 110px;
    height: 40px;
    border: 1px solid blue;
}

